<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="{{ url_for('static', filename='show.js') }}"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<style type="text/css">
body{
	background-image:url("static/images/background.jpg");
	background-size:cover;
	background-repeat:no-repeat;

}
.form_style{
	margin-top: 80px;
	margin-left: 80px;
}
.text{
	font-size: 50px;
	font-weight: bolder;
	margin-left: 20px;
}
#show{
	margin-top: -5px;
	weight:auto;
	height:auto;
}
.item{
	background-color: white;
	border:1px black solid;
	opacity:0.5;
	padding:5px;
	weight:30px;
	color:black;
	height:auto;
}
</style>
<body>
	<div class = 'form_style'>
		<p class="text">Hello!</p>
		<form id="form" method="POST">
			<div class="col-xs-5">
				<input type="text" name="欄位名稱" size="10px" class="form-control" id="input">
			</div>
		</form>
		<br>
		<br>
		<div id="show" class="col-xs-5"></div>
 	</div>



</body>
</html>
