<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<style type="text/css">
table th{
  text-align: center;
  background-color: #FFEFD5	;
}
table td{
  text-align: center;
}
table .a{
    background-color:#FFFFF0;
    font-weight: bolder;
}
</style>

<body>
  <table class="table table-hover">
    <tr>
      <th colspan="2">簡化標記</th>
      <th>詞類說明</th>
    </tr>
    <tr>
      <td>A</td>
      <td class='a'>A</td>
      <td>非謂形容詞(如:共同)</td>
    </tr>
    <tr>
      <td rowspan="4">C</td>
      <td class='a'>Caa</td>
      <td>對等連接詞</td>
    </tr>
    <tr>
      <td class='a'>Cab</td>
      <td>連接詞(如:等等)</td>
    </tr>
    <tr>
      <td class='a'>Cba</td>
      <td>連接詞(如:的話)</td>
    </tr>
    <tr>
      <td class='a'>Cbb</td>
      <td>關聯連接詞(如:雖然)</td>
    </tr>
    <tr>
      <td rowspan="7">D</td>
      <td class='a'>D</td>
      <td>副詞</td>
    </tr>
    <tr>
      <td class='a'>Da</td>
      <td>數量副詞(如:只)</td>
    </tr>
    <tr>
      <td class='a'>DE</td>
      <td>的、之、得、地</td>
    </tr>
    <tr>
      <td class='a'>Dfa</td>
      <td>動詞前程度副詞(如:非常)</td>
    </tr>
    <tr>
      <td class='a'>Dfb</td>
      <td>動詞後程度副詞(如:之至)</td>
    </tr>
    <tr>
      <td class='a'>Di</td>
      <td>時態標記(如:過、著)</td>
    </tr>
    <tr>
      <td class='a'>Dk</td>
      <td>句副詞(如:總之)</td>
    </tr>
    <tr>
      <td rowspan="13">N</td>
      <td class='a'>Na</td>
      <td>普通名詞</td>
    </tr>
    <tr>
      <td class='a'>Nb</td>
      <td>專有名稱(如:詩經、陳)</td>
    </tr>
    <tr>
      <td class='a'>Nc</td>
      <td>地方詞(如:學校、身上)</td>
    </tr>
    <tr>
      <td class='a'>Ncd</td>
      <td>位置詞(如:上頭)</td>
    </tr>
    <tr>
      <td class='a'>Nd</td>
      <td>時間詞(如:將來)</td>
    </tr>
    <tr>
      <td class='a'>Neu</td>
      <td>數詞定詞(如:甲、幾)</td>
    </tr>
    <tr>
      <td class='a'>Nes</td>
      <td>特指定詞(如:某、本)</td>
    </tr>
    <tr>
      <td class='a'>Nep</td>
      <td>指代定詞(如:這、鄰)</td>
    </tr>
    <tr>
      <td class='a'>Neqa</td>
      <td>數量定詞(如:許多)</td>
    </tr>
    <tr>
      <td class='a'>Neqb</td>
      <td>後置數量定詞</td>
    </tr>
    <tr>
      <td class='a'>Nf</td>
      <td>量詞(如:天、枝)</td>
    </tr>
    <tr>
      <td class='a'>Ng</td>
      <td>後置詞(如:理論*上)</td>
    </tr>
    <tr>
      <td class='a'>Nh</td>
      <td>代名詞(如:我)</td>
    </tr>
    <tr>
      <td >I</td>
      <td class='a'>I</td>
      <td>感嘆詞(如:哦、啊)</td>
    </tr>
    <tr>
      <td >P</td>
      <td class='a'>P</td>
      <td>介詞(如:從...)</td>
    </tr>
    <tr>
      <td >T</td>
      <td class='a'>T</td>
      <td>語助詞(如:嗎、罷了)</td>
    </tr>
    <tr>
      <td rowspan="17">V</td>
      <td class='a'>VA</td>
      <td>動作不及物動詞(如:跑、坐)</td>
    </tr>
    <tr>
      <td class='a'>VAC</td>
      <td>動作使動動詞(如:轉)</td>
    </tr>
    <tr>
      <td class='a'>VB</td>
      <td>動作類及物動詞(如:整容)</td>
    </tr>
    <tr>
      <td class='a'>VAC</td>
      <td>動作使動動詞(如:轉)</td>
    </tr>
    <tr>
      <td class='a'>VC</td>
      <td>動作及物動詞(如:使用、洩漏)</td>
    </tr>
    <tr>
      <td class='a'>VCL</td>
      <td>動作接地方賓語動詞(如:經過、住)</td>
    </tr>
    <tr>
      <td class='a'>VD</td>
      <td>雙賓動詞(如:寄、送)</td>
    </tr>
    <tr>
      <td class='a'>VE</td>
      <td>動作句賓動詞(如:提示)</td>
    </tr>
    <tr>
      <td class='a'>VF</td>
      <td>動作謂賓動詞(如:打算)</td>
    </tr>
    <tr>
      <td class='a'>VG</td>
      <td>分類動詞(如:稱呼)</td>
    </tr>
    <tr>
      <td class='a'>VH</td>
      <td>狀態不及物動詞(如:浪漫，淨重)</td>
    </tr>
    <tr>
      <td class='a'>VHC</td>
      <td>狀態使動動詞(如:豐富、感動)</td>
    </tr>
    <tr>
      <td class='a'>VI</td>
      <td>狀態類及物動詞(如:心動、內行)</td>
    </tr>
    <tr>
      <td class='a'>VJ</td>
      <td>狀態及物動詞(如:代表、長達)</td>
    </tr>
    <tr>
      <td class='a'>VK</td>
      <td>狀態句賓動詞(如:不滿、反應)</td>
    </tr>
    <tr>
      <td class='a'>VL</td>
      <td>狀態謂賓動詞(如:樂於、讓)</td>
    </tr>
    <tr>
      <td class='a'>V_2</td>
      <td>有</td>
    </tr>
  </table>
</body>
</html>
